.ArrivalListContainer{
    margin-top: 1vh;
}

.ArrivalListContainer > div > .lastUpdated{
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
}

.ArrivalListContainer > div > .busStopTitle{
    font-size: 2.5rem;
    font-weight: bold;
}

.ArrivalListContainer > div > .BusArrivalAccordion{
    margin-top: 1vh;
}

.ArrivalListContainer{
    display:flex;
    justify-content: center;;
}

table{
    margin-left: auto;
    margin-right: auto;
}