.App {

  height: 100%;
  width: 100%;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  text-align: center;
  flex: auto;

  display: flex;
  flex-direction: column;
}

header, footer{
  background-color: #F6F8FA;
}

header{
  height: 50px;
  display: flex;

  font-size: 25px;
}

header > div {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
  font-weight: bold;
}

footer {
  height: 50px;
  display: flex;
}

footer > div {
  margin-top: auto;
  margin-bottom: auto;
  flex: auto;
  text-align: center;
}